# Build and Release Folders
bin/
bin-debug/
bin-release/
bin
.metadata

# Other files and folders
.classpath
.project
.settings/
.Rhistory
.DS_Store
assets/.DS_Store
lib/native/.DS_Store
src/gameworlds/.DS_Store
doc/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
